@import "vars";

.catalog__item__container {

}

.catalog__item__image__row {
  width: 100%;
  padding: 15px 15px 0;
}

.catalog__item__image__container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.catalog__item__image__substrate {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}

.catalog__item__image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.catalog__item__prices__row {
  width: 100%;
  padding: 10px 15px 0;
}

.catalog__item__prices__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__item__prices__price {
  font-size: 18px;
}

.catalog__item__deliveries__row {
  width: 100%;
  padding: 5px 15px 0;
}

.catalog__item__deliveries__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__item__available {
  color: green;
}

.catalog__item__name__row {
  width: 100%;
  padding: 5px 15px 0;
}

.catalog__item__name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.0em;
}

.catalog__item__name-category {
  font-weight: 400;
  font-size: 14px;
  color: $cLimedSpruce;
}

.catalog__item__group__row {
  padding: 5px 15px 0;
}

.catalog__item__group__sticker-container {
  display: inline-block;
  margin: 5px 10px 0 0;
}

.catalog__item__group__sticker {
  padding: 5px 8px;
  border-radius: 4px;
  background-color: royalblue;
  color: $cWhite;
}

.catalog__item__code__row {
  margin: 0;
  padding: 5px 15px 0;
}

.catalog__item__code__container {
  display: flex;
  justify-content: space-between;
}

 .catalog__item__code
,.catalog__item__vendor {
  font-size: 14px;
  line-height: 1em;
  color: $cLimedSpruce;
}

.catalog {
  margin-top: 45px;
}

.catalog__products-by-groups {
  margin: 0;
  padding: 0 15px 0;
}

.catalog__item-vendor-name {
  text-transform: capitalize;
}

.catalog__search-form__section {
  padding: 30px 0;
}

.catalog__items {
  padding-bottom: 15px;
}

.catalog__page-navigator {
  padding: 15px 0;
}

.catalog__all-products {
  padding: 15px;
}

.catalog__nav-container {
  padding: 0 15px;
}
