@import "vars";

.homepage__category__block__container {
  padding-top: 30px;
}

.homepage__category__title {
  text-transform: capitalize;
}

.homepage__product-category__container {
  background-color: #f5f5f5;
  border-radius: 24px;
}
