/* COLORS */

$cBlack: #000;
$cLimedSpruce: #374046;
$cTundora: #444;
$cRollingStone: #7e8589;
$cRegentGray: #949da7;
$cIron: #d8dcde;
$cAlabaster: #f9f9f9;
$cWhite: #fff;

/* COLORS ASSIGMENT */

$color-main: $cTundora;
$color-gray-back: $cAlabaster;
$color-white-on-blue: #446E8C;

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Delius:wght@400&display=swap');
$font-delius: 'Delius', serif;

/* BOOTSTRAP MEDIA BREAKPOINTS */

$s-full-hd: 1920;
$s-macbook: 1600;
$s-laptop: 1024;
$s-tab: 768;
$s-mob: 480;

/* MIXINS */

@mixin multiLineElipsis($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
